/* Common Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.primary-color {
    color:  #E95A08;
}

.dark-2 {
  color: rgba(0, 0, 0, 0.5);
}

.section-title {
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Serif";
}

.section-description {
    font-size: 22px;
    font-weight: 400;
    font-family: "Inter";
    color: rgba(0, 0, 0, 0.5);
}

.display-flex {
  display: flex;
}

/* header section's style */
.header, main{
  max-width: 1140px;
  margin: auto;
}

/* Navbar styles */
.navbar {
    margin-top: 30px;
    margin-bottom: 120px;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 48px;
    cursor: pointer;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
    font-family: "Inter";
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s ease;
}
.nav-link:hover {
    font-weight: 700;
    color: #252432;
}

/* Banner Section style */
.banner-content {
  width: 50%;
  margin-top: 160px;
}

.banner-title {
  font-size: 65px;
  font-family: "noto-serif";
  font-weight: bold;
}

.banner-image {
  margin-top: 105px;
  width: 50%;
}

/* Products styles */
  .products {
    margin-top: 120px;
    text-align: center;
  }

  .product-info {
    margin-bottom: 49px;
  }

  .product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .product-card {
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .product-name {
    font-size: 22px;
    font-family: "Inter";
    color: #111111;
    font-weight: 500;
    margin-top: 30px;
  }

  .product-price {
    margin-bottom: 30px;
    font-weight: 800;
    font-family: "Inter";
    color: #111111;
    font-size: 22px;
  }

  .btn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #E95A08;
    padding: 16px 80px;
    font-family: "Inter";
  }







/* responsive media query */
    @media screen  and (max-width: 576px){
        .section-title {
            font-size: 24px;
            margin-bottom: 16px;
        }
        .section-description {
            font-size: 14px;
        }
        .banner-image,
        .banner-content,
        .products {
          margin: 0 auto;
          width: 90%;
        }
        
        .navbar{
          margin-bottom: 28px;
          justify-content: space-around;
        }
        .banner {
          flex-direction: column-reverse;
        }
        .banner-title {
          font-size: 24px;
          margin-top: 28px;
        }

        .products {
          margin-top: 65px;
        }
        .product-container{
          grid-template-columns: repeat(2, 1fr);
        }
        .product-info {
          margin-bottom: 28px;
        }
        .product-name,
        .product-price {
          font-size: 16px;
        }
        .btn {
          padding: 16px 65px;
        }

    }

/* Medium size device */
    @media screen  and (min-width: 576px) and (max-width: 992px){
        .header,
        .banner-image,
        .banner-content,
        .products {
          margin: 0 auto;
          width: 90%;
        }

        .banner {
          flex-direction: column-reverse;
        }
        .banner-title {
          margin-top: 28px;
        }

        .products {
          margin-top: 65px;
        }
        .product-container{
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }
 
    }

    @media only screen and (max-width: 700px) {
        .menu {
            display: none;
        }
    }